sudo apt update
sudo apt install git mysql-client -y
git clone -b local https://github.com/hkhcoder/vprofile-project.git
mysql -h ${rds-endpoint} -u ${username} --password=${password} accounts --ssl-mode=DISABLED < /home/ubuntu/vprofile-project/src/main/resources/db_backup.sql